.containerButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-left: 20rem;
}

.button:hover {
  cursor: pointer;
}

.containerVideo {
  flex: 1;
  margin-right: 20px;
  margin-left: 15rem;
}

.videoList {
  background-color: #023047b9;
  border-radius: 20px;
  min-width: 200px;
  color: #dda77b;
  max-height: 400px;
  overflow-y: auto;
}

.videoList ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.videoList li.activeVideo {
  font-weight: bold;
}

.videoThumbnail {
  width: 80px;
  margin-right: 10px;
}

.videoTitle {
  font-weight: bold;
}
