.formContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.651)),
    url(https://images.pexels.com/photos/8173435/pexels-photo-8173435.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
  color: #dda77b;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}

.form {
  background-color: #8ecae671;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 2px 2px 5px black;
  max-height: 600px;
  overflow-y: auto;
  margin-top: 20rem;
  margin-left: 2rem;
  width: fit-content;
}

span {
  color: #dda77b;
  text-shadow: 2px 2px 2px black;
}

.videoList {
  text-align: center;
  margin: 2rem;
}
