.lista {
  display: flex;
  padding: 5px 2px;
}
.contenedor {
  display: inline-flex;
  justify-content: center;
  width: 5vw;
  background-color: #fdddca;
  cursor: pointer;
  border-radius: 2px;
  margin: 2px;
}
.buttonpage {
  height: 48px;
  width: 48px;
  cursor: pointer;
  border-radius: 2px;
  background-color: transparent;
  border: none;
  transition: 0.5s;
}

.contenedor:hover {
  transform: scale(1.02);
}
